{% extends 'beforeLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <body>
        <h2>Log in here!</h2>
        <form method="post" >
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            
            <button type="Login" class="btn btn-default">Submit</button>
        </form>
        <p>
            <a href="{% url 'authentication:signup' %}">Not registered yet? Sign up here!</a>
        </p>
    </body>
{% endblock content %}