<!doctype html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'project_django/styles.css' %}">
        <script src="{% static 'project_django/scripts.js' %}"></script>
        {% block mapsApi %}
            {{ mapsApi|default:"" }}
        {% endblock mapsApi %}
        <meta charset="utf-8">
        <title>
            {% block title %}
            {{ page_title|default:"Untitled Page" }}
            {% endblock title %}
        </title>
    </head>

    <body>
        <div class="topnav">
            <a class="left" href="{% url 'eventplanning:home' %}">Events</a>
            <a class="left" href="{% url 'eventplanning:plan' %}">Planning</a>
            <a class="left" href="#Accounting">Accounting</a>
            <a class="left" href="{% url 'usrmgmt:home' %}">User Management</a>
            <a class="right" href="{% url 'logout' %}">Logout</a>
            <a class="right" href="{% url 'usrmgmt:profile' %}">Profile</a>
            {% with user.profile.address_set.all as addresses %}
                {% if not addresses %}
                <a class="tooltip right" href="{% url 'usrmgmt:profile' %}">No Address!
                    <span class="tooltiptext">Tooltip text</span>
                </a>
                {% endif %}
            {% endwith %}
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        <p>Placeholder text in base template. Replace with page content.</p>
        {% endblock content %}
    </body>
</html>