<!doctype html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'project_django/styles.css' %}">
        <meta charset="utf-8">
        <title>
            {% block title %}
            {{ page_title|default:"Untitled Page" }}
            {% endblock title %}
        </title>
    </head>

    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        <p>Placeholder text in base template. Replace with page content.</p>
        {% endblock content %}
    </body>
</html>