{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>Attend this event:</h1>
        <h2>{{ event }}</h2>
    </header>
    <body>
        <form method="post" >
            {% csrf_token %}
            <table>
                {{attendeeCreationForm.as_table}}
            </table>
            
            <button type="submit" name="newAttendee" class="btn btn-default">Submit</button>
            <a href="{% url 'eventplanning:home' %}">Cancel</a>
        </form>
    </body>

{% endblock content %}