{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>Delete this event:</h1>
        <h2>{{ event }}</h2>
    </header>
    <body>
        <form method="post" >
            {% csrf_token %}
            Are you sure you want to delete this event?</br>
            <input type="submit" value="Yes"/>
            <a href="{% url 'eventplanning:plan' %}">Cancel </a>
        </form>
    </body>

{% endblock content %}