{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>Edit this event:</h1>
        <h2>{{ event }}</h2>
    </header>
    <body>
        <form method="post" >
            {% csrf_token %}
            <table>
                {{eventEditForm.as_table}}
            </table>

            <input type="submit" value="Yes"/>
            <a href="{% url 'eventplanning:plan' %}">Cancel </a>
        </form>
    </body>

{% endblock content %}