{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}
    <header>
        <h1>{{ title }}</h1>
        <p>posted by pmathy</p>
    </header>
    <body>
        <div>
            <h2>My Upcoming Events:</h1>
            {% for event in events %}
            <div>
                Event Name: {{ event.name }}<br>
                Event Date: {{ event.eventDate }}<br>
                Event Time: {{ event.eventTime }}<br>
                Arrival Time: {{ event.arrivalTime }}<br>
                {% if event in signedUpEvents %}
                    <a href="{% url 'eventplanning:attedit' event.id %}" >Edit Signup</a> | 
                    <a href="{% url 'eventplanning:leaveevent' event.id %}" >Sign out</a><br><br>
                {% else %}
                    <a href="{% url 'eventplanning:attevent' event.id %}" >Sign Up</a><br><br>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </body>
{% endblock content %}