{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}
    <header>
        <h1>{{ title }}</h1>
        <p>posted by pmathy</p>
    </header>
    <body>
        <p>
            <h3>Create New Event:</h3>
            <a href='#' onclick='overlay()'>Create new Event</a>
        </p>
        <div>
            <h2>My editable Events:</h1>
            {% for event in events %}
            <div>
                Event Name: {{ event.name }}<br>
                Event Date: {{ event.eventDate }}<br>
                Event Time: {{ event.eventTime }}<br>
                Arrival Time: {{ event.arrivalTime }}<br>
                <a href="{% url 'eventplanning:editevent' event.id %}" >Edit Event</a> | 
                <a href="{% url 'routing:createroute' event.id %}" >Plan Route</a> | 
                <a href="{% url 'eventplanning:delevent' event.id %}" >Delete Event</a><br><br>
            </div>
            {% endfor %}
        </div>
        <div id="overlay">
            <div>
                <p>    
                    <form method="post" >
                        {% csrf_token %}
                        <table>
                            {{eventForm.as_table}}
                        </table><br><br>
                        <table>
                            {{destForm.as_table}}
                        </table>
                        
                        <button type="submit" name="newevent" onclick='overlay()' class="btn btn-default">Submit</button>
                        <a href="{% url 'eventplanning:plan' %}">Cancel</a>
                    </form>
                </p>
            </div>
        </div>
    </body>
{% endblock content %}