{% extends 'beforeLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>{{ title }}</h1>
    </header>
    <body>
        <p>Hi {{ username }},</p>
        <p>
            your account activation key is unfortunately already expired. Please 
            use the following link to request a new activation link.
        </p>
        <p>Regards, Patrick</p>
        <a href="{% url 'authentication:new_activation_link' ID %}">Send new Activation Link</a>
    </body>

{% endblock content %}