{% extends 'beforeLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>Activation successful!</h1>
    </header>
    <body>
        <p>Hi {{ username }},</p>
        <p>your account activation was successful! Welcome to the Fahrerplanung App!</p>
        <p>Regards, Patrick</p>
        <a href="{% url 'home' %}">Return to Home</a>
    </body>

{% endblock content %}