{% extends 'beforeLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>{{ title }}</h1>
    </header>
    <body>
        <form method="post" >
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </body>

{% endblock content %}
