{% extends 'afterLogin.html' %}

{% block mapsApi %}{{ apiString|safe }}{% endblock mapsApi %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <header>
        <h1>{{ title }}</h1>
        <p>posted by pmathy</p>
    </header>
    <body>
        <div id="map" style="width: 500px; height: 400px;"></div>
        {{ driver_locs|json_script:"driver_locs" }}
        {{ passenger_locs|json_script:"passenger_locs" }}
        {{ destination_locs|json_script:"destination_locs" }}
        {{ routes|json_script:"routes" }}
        {{ arrivalTime|json_script:"arrivalTime" }}
        <script type="text/javascript">
            const drive_locs = JSON.parse(document.getElementById('driver_locs').textContent);
            const pass_locs = JSON.parse(document.getElementById('passenger_locs').textContent);
            const dest_locs = JSON.parse(document.getElementById('destination_locs').textContent);
            const routes = JSON.parse(document.getElementById('routes').textContent);
            const arrivalTime = JSON.parse(document.getElementById('arrivalTime').textContent);
            createMap(drive_locs, pass_locs, dest_locs, routes, arrivalTime);
        </script>

        {% if showNew %}
            <p>
                <h3>Add new vehicle:</h3>
                <a href='#' onclick='overlay()'>Create new vehicle</a>
            </p>
        {% endif %}
        <div>
            {% if vehicles %}
                {% for car in vehicles %}
                    Driver: {{ car.driver }} | <a href="{% url 'routing:delcar' event.id car.id %}">Delete</a><br>
                    {% if car.passenger_set.all %}
                        Mitfahrer:<br>
                        {% for pass in car.passenger_set.all %}
                            {{ pass }} | <a href="{% url 'routing:delpass' event.id car.id pass.id %}">Delete</a><br>
                        {% endfor %}
                    {% else %}
                    <p>    
                        <form method="post" >
                            {% csrf_token %}
                            <table>
                                {{formset}}
                            </table>
                            <button type="submit" name="newpassengers" class="btn btn-default">Submit</button>
                            <a href="{% url 'routing:createroute' event.id %}">Cancel</a>
                        </form>
                    </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if canFinish %}
            <p>
                <h3>Finish Route | Cancel</h3>
                <a href="{% url 'routing:confirmroute' event.id %}">Finish Routing</a> | <a href="{% url 'eventplanning:plan' %}">Cancel</a>
            </p>
        {% else %}
            <p>
                <h3>Cancel</h3>
                <a href="{% url 'eventplanning:plan' %}">Cancel</a>
            </p>
        {% endif %}
        <div id="overlay">
            <div>
                <p>    
                    <form method="post" >
                        {% csrf_token %}
                        <table>
                            {{vehicleForm.as_table}}
                        </table>
                        <button type="submit" name="newvehicle" onclick='overlay()' class="btn btn-default">Submit</button>
                        <a href="{% url 'routing:createroute' event.id %}">Cancel</a>
                    </form>
                </p>
            </div>
        </div>
    </body>
{% endblock content %}