{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>{{ group }}</h1>
        <h2>Group Member Administration</h2>
    </header>
    <body>
        <div>
            <form method="post" >
                {% csrf_token %}
                <table>
                    {{ formset }}
                </table>
                <input type="submit" value="Submit"/>
                <a href="{% url 'usrmgmt:home' %}">Cancel </a>
            </form>
        </div>
    </body>

{% endblock content %}