{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>Change Password</h1>
    </header>
    <body>
        <form method="post" >
            {% csrf_token %}
            <table>
                {{changePassForm.as_table}}
            </table>
            <input type="submit" value="Yes"/>
            <a href="{% url 'usrmgmt:home' %}">Cancel </a>
        </form>
    </body>

{% endblock content %}