{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>Delete this address:</h1>
        <h2>{{ address }}</h2>
    </header>
    <body>
        <form method="post" >
            {% csrf_token %}
            Are you sure you want to delete this address?</br>
            <input type="submit" value="Yes"/>
            <a href="{% url 'usrmgmt:profile' %}">Cancel </a>
        </form>
    </body>

{% endblock content %}