{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}

    <header>
        <h1>Delete this group:</h1>
        <h2>{{ group }}</h2>
    </header>
    <body>
        <form method="post" >
            {% csrf_token %}
            Are you sure you want to delete this group?</br>
            <input type="submit" value="Yes"/>
            <a href="{% url 'usrmgmt:home' %}">Cancel </a>
        </form>
    </body>

{% endblock content %}