{% extends 'afterLogin.html' %}
{% load global_extras %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}
    <header>
        <h1>{{ title }}</h1>
        <p>posted by pmathy</p>
    </header>
    <body>
        <div>
            <h2>My Groups:</h1>
            {% for group in commGroups %}
            <div>
                Group Name: {{ group.name }}<br>
                Group Join Code: {{ group.joinCode }}<br>
                {% if group.joinCode|addstr:".admin_"|addstr:group.joinCode in perms %}
                    <a href="{% url 'usrmgmt:delgrp' group.id %}" >Delete Group</a> | 
                    <a href="{% url 'usrmgmt:admgrp' group.id %}" >Group Admin</a>
                {% endif %}
                <br><br>
            </div>
            {% endfor %}
        </div>
        <p>
            <h3>Join Group:</h3>
            <form method="post" >
                {% csrf_token %}
                <table>
                    {{ joinGroupForm.as_table }}
                </table>
                
                <button type="submit" name="joingroup" class="btn btn-default">Submit</button>
            </form>
        </p>
        <p>
            <h3>Create Group:</h3>
            <a href='#' onclick='overlay()'>Create new Commute Group</a>
        </p>
        <div id="overlay">
            <div>
                <p>    
                    <form method="post" >
                        {% csrf_token %}
                        <table>
                            {{commgroupForm.as_table}}
                        </table>
                        
                        <button type="submit" name="newgroup" onclick='overlay()' class="btn btn-default">Submit</button>
                        <a href="{% url 'usrmgmt:profile' %}">Cancel</a>
                    </form>
                </p>
            </div>
        </div>
    </body>
{% endblock content %}