{% extends 'afterLogin.html' %}

{% block title %}{{ title }}{% endblock title %}
 
{% block content %}
    <header>
        <h1>{{ title }}</h1>
        <p>posted by pmathy</p>
    </header>
    <body>
        <div>
            <p>    
                <form method="post" >
                    {% csrf_token %}
                    <table>
                        {{userForm.as_table}}
                    </table>
                    
                    <button type="submit" name="changeduser" class="btn btn-default">Submit</button>
                    <a href="{% url 'usrmgmt:profile' %}">Cancel</a>
                </form>
            </p>
            <a href="{% url 'usrmgmt:changepass' %}">Change Password</a>
        </div>
        <div>
            <h2>My Addresses:</h1>
            {% for address in addressList %}
            <div>
                {{ address }}
                <a href="{% url 'usrmgmt:deladdr' address.id %}" >Delete this Address</a>
            </div>
            {% endfor %}
        </div>
        <p>
            <a href='#' onclick='overlay()'>Add new Address</a>
        </p>
        <div id="overlay">
            <div>
                <p>    
                    <form method="post" >
                        {% csrf_token %}
                        <table>
                            {{addressForm.as_table}}
                        </table>
                        
                        <button type="submit" name="newaddress" onclick='overlay()' class="btn btn-default">Submit</button>
                        <a href="{% url 'usrmgmt:profile' %}">Cancel</a>
                    </form>
                </p>
            </div>
        </div>
    </body>
{% endblock content %}